<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.elpassion">

    <application>
        <activity
            android:name="pl.elpassion.elspace.debate.login.DebateLoginActivity"
            android:theme="@style/AppThemeDebate" />
        <activity
            android:name="pl.elpassion.elspace.debate.details.DebateDetailsActivity"
            android:theme="@style/AppThemeDebate" />
        <activity
            android:name=".elspace.debate.chat.DebateChatActivity"
            android:theme="@style/AppThemeDebate"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
