<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.elpassion">

    <application>
        <activity
            android:name="pl.elpassion.elspace.launcher.LauncherActivity"
            android:theme="@style/AppThemeBlueWithoutActionBar" />
        <activity
            android:name="pl.elpassion.elspace.hub.login.HubLoginActivity"
            android:theme="@style/AppThemeBlueWithoutActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="pl.elpassion.elspace.hub.project.choose.ProjectChooseActivity"
            android:theme="@style/AppThemeBlueWithoutActionBar" />
        <activity
            android:name="pl.elpassion.elspace.hub.report.add.ReportAddActivity"
            android:theme="@style/AppThemeBlueWithoutActionBar" />
        <activity
            android:name="pl.elpassion.elspace.hub.report.list.ReportListActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppThemeBlueWithoutActionBar" />
        <activity
            android:name="pl.elpassion.elspace.hub.report.edit.ReportEditActivity"
            android:theme="@style/AppThemeBlueWithoutActionBar" />
        <activity
            android:name="pl.elpassion.elspace.debate.login.DebateLoginActivity"
            android:theme="@style/AppThemeGreenWithoutActionBar" />
        <activity
            android:name="pl.elpassion.elspace.debate.details.DebateDetailsActivity"
            android:theme="@style/AppThemeGreenWithoutActionBar" />
    </application>
</manifest>
