<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.elpassion">

    <application>
        <activity
            android:name="pl.elpassion.elspace.debate.login.DebateLoginActivity"
            android:theme="@style/AppThemeGreenWithoutActionBar" />
        <activity
            android:name="pl.elpassion.elspace.debate.details.DebateDetailsActivity"
            android:theme="@style/AppThemeGreenWithoutActionBar" />
        <activity
            android:name=".elspace.debate.comment.DebateCommentActivity"
            android:theme="@style/EL_Dialog" />
    </application>
</manifest>
