<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.elpassion.elspace">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="pl.elpassion.elspace.ElSpaceApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="pl.elpassion.elspace.launcher.LauncherActivity"
            android:theme="@style/AppThemeSpace">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.elpassion.elspace.hub.login.GoogleHubLoginActivity"
            android:theme="@style/AppThemeSpace_Dialog">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="hub.elpassion.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.elpassion.elspace.hub.project.choose.ProjectChooseActivity"
            android:theme="@style/AppThemeSpace" />
        <activity
            android:name="pl.elpassion.elspace.hub.report.add.ReportAddActivity"
            android:theme="@style/AppThemeSpace"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="pl.elpassion.elspace.hub.report.list.ReportListActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppThemeSpace" />
        <activity
            android:name="pl.elpassion.elspace.hub.report.edit.ReportEditActivity"
            android:theme="@style/AppThemeSpace"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="pl.elpassion.elspace.debate.login.DebateLoginActivity"
            android:theme="@style/AppThemeDebate" />
        <activity
            android:name="pl.elpassion.elspace.debate.details.DebateDetailsActivity"
            android:theme="@style/AppThemeDebate" />
        <activity
            android:name="pl.elpassion.elspace.debate.comment.DebateCommentActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppThemeDebate_Dialog"
            android:windowSoftInputMode="stateVisible" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="42505f6356175462de2327f99393bf1fdf054841" />
    </application>

</manifest>